h{
    font-family: 'Manjari',Tahoma;
}

p{
    font-family: 'Manjari',Tahoma;
}
input{
    font-family: 'Manjari',Tahoma;
}

h1.infoHeader{
    size: 42px;
    align-self: center;
}


body {
    font-family: 'Manjari',Tahoma;
    display: flexbox;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  body {
    background: #fff;
  }

  .input-field input[type=date]:focus + label,
  .input-field input[type=text]:focus + label,
  .input-field input[type=email]:focus + label,
  .input-field input[type=password]:focus + label {
    color: #e91e63;
  }

  
.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    margin-left: 20px;
    margin-right: 20px;
  }
  .background-image{
  }

  .input-field input[type=date]:focus,
  .input-field input[type=text]:focus,
  .input-field input[type=email]:focus,
  .input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
  }