h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1.infoHeader{
    size: 42px;
    align-self: center;
}

img{
    size: 64px;
    width: 128px;
    height: auto;
}