<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Manjari">
    <link href="main.css" th:href="@{/css/main.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="materialize.css" th:href="@{/css/materialize.css}" rel="stylesheet">
    <script src="jquery-3.4.1.js" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script src="materialize.js" th:src="@{/js/materialize.js}"></script>
    <script src="main.js" th:src="@{/js/main.js}"></script>
</head>
<body class="row" >


<div class="col s12">
    <h1 class="center-align">DashBoard</h1>
</div>
<div class="col s12">
<h1 th:text="${userCount}" class="center-align">
</h1>
</div>

</body>
</html>