<!DOCTYPE html >
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Manjari">
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/materialize.css"  th:href="@{/css/materialize.css}" rel="stylesheet">
    <script src="/js/jquery-3.4.1.js" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/js/materialize.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/autoUpdate.js}"></script>
    <title>thedickensdev</title>
</head>
<body class="infoDiv purple white-text lighten-1">
        <div>
                <nav class="nav-extended purple lighten-1">
                        <div class="nav-wrapper">
                          <a href="#" class="brand-logo"><img src="/icons/thedickenslogo.png" th:src="@{/icons/thedickenslogo.png}"  style="float:left" class="circle responsive-img material-icons" alt=""></a>
                          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"><img class="material-icon" th:src="@{/icons/menu.png}"></i></a>
                          <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="#">Home</a></li>
                            <li><a th:href="@{/contact}" href="/contact">Contact</a></li>
                            <li><a href="#">About</a></li>
                          </ul>
                        </div>
                        <div class="nav-content">
                          <ul class="tabs tabs-transparent">
                              <li class="tab"><a href="#index">Information</a> </li>
                            <li class="tab"><a href="#art">Art Gallery</a></li>
                            <li class="tab"><a class="active" href="#games">Games</a></li>
                            <li class="tab"><a href="#support">Support</a></li>
                            <li class="tab"><a href="#videos">Videos</a></li>
                          </ul>
                        </div>
                      </nav>
                    
                      <ul class="sidenav" id="mobile-demo">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">about</a></li>
                      </ul>
                     
        </div>
        <div class="infoDiv container">
            
                <div id="index" class="center-align center infoDiv row col s12 white-text lighten-3">
                  <h6 class="right right-align col s12 divHeader"></h6>
                        <div class="col s12">
                            <h1 class="center-align">Computer Enthusiast, Game Dev, Innovator</h1>
                        </div>
                        <br>
                       
                        <div class="infoDiv row">
                            <div class="col  s12 z-depth-1">
                                <H5 class="heading">Top Stories</H5>
                           
                                <p class="StoriesBody">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus reprehenderit non harum neque ipsam quibusdam nemo dolorem error doloribus molestias magnam ipsa qui, esse animi! Eveniet tenetur debitis sunt nam.</p>
                            </div>
                            <div class="col s12 z-depth-1">
                                <h5 class="heading">Projects In progress</h5>
                               
                                <p class="StoriesBody">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis harum est architecto saepe quisquam, earum fuga quia. Provident expedita dolores, odio quas autem enim officia dolorum suscipit architecto, commodi ex?</p>

                            </div>
                            <div class="col  s312 z-depth-1">
                                <h5 class="heading">Games</h5>
                           
                                <p class="StoriesBody">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas fugiat corrupti repellat voluptates consectetur, maxime numquam, laudantium nemo vitae a est. Id odio perferendis voluptate nemo, perspiciatis voluptas praesentium ducimus.</p>
                            </div>
                        </div>   
                    </div> 
                        
                <div id="art" class="container col s12">
                    <h1 class="white-text center center-align lighten-3">Coming Soon!!!</h1>
                    </div>
                    <div id="games" class="row col s12">
                            <h1 class="center-align center white-text lighten-3">Projects</h1>
                        
                            <div class="white-text lighten-3 col s12  z-depth-1">
                                <h4 class="center center-align white-text lighten-3" >Wave reloaded</h4>
                                <p>I've created this game from scratch using only java</p>
                            </div>
                          
                            <div class="white-text lighten-3 col s12 z-depth-1">
                                <h4 class="center center-align white-text lighten-3">Hang man</h4>
                                <p class="white-text lighten-3">hang man is just a game i made to have a better understanding of oop</p>
                                </div>
                            
                                <div class="col z-depth-1 s12">
                                <h4 class="center center-align white-text lighten-3">SectorCoin</h4>
                                <p class="white-text lighten-3">basic blockchain implemented in java</p>
                                    </div>
                                  
                                                
                    </div>
                    <div id="support" class="col s12">
                        <div>
                            <ul class="collapsible">
                                <li>
                                  <div class="collapsible-header"><i class="material-icons"></i>Sectorcoin</div>
                                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span>godor</div>
                                </li>
                                <li>
                                  <div class="collapsible-header"><i class="material-icons">place</i>godot</div>
                                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                </li>
                                <li>
                                  <div class="collapsible-header"><i class="material-icons">whatshot</i>more games to come</div>
                                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                </li>
                              </ul>
                        </div>
                    </div>
                    <div id="videos" class="col s12"> 

                    </div>
                  
        </div>
        
</body>

<footer class="page-footer black lighten-3">
        <div class="footer-copyright">
          <div class="container">
          © 2019 all Copyrights are Reserved
          </div>
        </div>
      </footer>
</html>